
.cards__pp {
  text-align: center;
  display: inline-flex;
  padding: 10px;
  width: 100%;
  margin-bottom: 0px;
}

.cards__container__pp {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.cards__wrapper__pp {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items__pp {
  margin-bottom: 24px;
}

.cards__item__pp {
  display: inline-flex;
  text-align: justify;
  margin: 0 1rem;
  border-radius: 10px;
  margin-bottom: 24px;
  height: 14%;
  width: 28%;
}

.cards__item__link__pp {
  display: flex;
  flex-flow: column;
  width: 100%;
  /*background-color: rgba(228, 134, 26, 0.158);*/
  /*background-color: rgba(238, 118, 19, 0.144);*/
  background-color: rgba(255, 246, 241, 0.562);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap__pp {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap__pp::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 16px;
  font-weight: 700;
  color: rgb(73, 73, 73);
  background-color: rgb(99, 214, 54);
  box-sizing: border-box;
  border-radius: 15px 0px 15px 0px;
}

.cards__item__img__pp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;

}

.cards__item__img__pp:hover {
  transform: scale(1.1);
}

.cards__item__info__pp {
  border-top: solid 1px rgba(129, 123, 118, 0.233);
  padding: 20px 30px 30px;
  height: 100px;
}

.cards__item__text__pp {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .cards__item__pic-wrap__pp::after {
    font-size: 13px;
  }
}

@media (max-width: 960px) {
  .cards__item__pp {
    height: 9%;
    width: 40%;
  }
  .cards__pp {
    margin-bottom: 0px;
  }
}

@media (max-width: 670px) {
  .cards__item__pp {
    height: 8%;
    width: 41%;
  }
  .cards__pp {
    margin-top: -220px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .cards__item__pp {
    height: 3%;
    width: 65%;
    padding: 8px;
  }
  .cards__pp {
    margin-top: -220px;
    margin-bottom: -40px;
  }
  .cards__item__info__pp {
    height: 80px;
  }
  .cards__item__pic-wrap__pp::after {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .cards__item__pp {
    height: 8%;
    width: 85%;
    padding: 25px;
  }
  .cards__pp {
    margin-top: -230px;
    margin-bottom: -310px;
  }
}