.vinsbackground {
  margin-top: 116px;
  margin-bottom: 30px;
  width: 100%;
  height: 80%;
}

.cards__vins {
  text-align: center;
  display: inline-flex;
  padding: 10px;
}

.cards__container__vins {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.cards__wrapper__vins {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items__vins {
  margin-bottom: 24px;
  text-align: center;
}

.cards__item__vins {
  display: inline-flex;
  text-align: justify;
  margin: 0 1rem;
  padding:10px;
  border-radius: 10px;
  margin-bottom: 24px;
  height: 11%;
  width: 19%;
}

.cards__item__link__vins {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: rgba(165, 42, 42, 0.123);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap__vins {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap__vins::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  background-color: rgb(165, 42, 42);
  box-sizing: border-box;
}

.cards__item__img__vins {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;

}

.cards__item__img__vins:hover {
  transform: scale(1.1);
}

.cards__item__info__vins {
  padding: 20px 30px 30px;
  height: 100px;
  border-top: solid rgba(165, 42, 42, 0.411) 2px;
}

.cards__item__text__vins {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1400px) {
  .cards__item__vins {
    height: 9%;
    width: 30%;
  }

  .cards__vins {
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px) {
  .cards__item__vins {
    height: 6%;
    width: 40%;
  }

  .cards__vins {
    margin-bottom: 40px;
  }
  .cards__item__text__vins {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .cards__item__vins {
    height: 6%;
    width: 43%;
  }

  .cards__vins {
    margin-top: -220px;
    margin-bottom: 10px;
  }

  .cards__item__text__vins {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .cards__item__vins {
    height: 3%;
    width: 65%;
    padding: 8px;
  }
  .cards__item__text__vins {
    font-size: 14px;
  }

  .cards__vins {
    margin-bottom:-110%;
  }

  .cards__item__info__vins {
    height: 80px;
  }

  .cards__items__vins {
    margin-bottom: 460px;
  }

}

@media (max-width: 450px) {
  .cards__item__vins {
    height: 3%;
    width: 60%;
    padding: 8px;
  }
  .cards__item__text__vins {
    font-size: 13px;
  }
}